.music-main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    top: 5rem;
    left: 18rem;
    height: 100vh;
    width: 82%;
}

.music-search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: end;
    align-items: center;
    justify-content: center;
    top: 4rem;
    width: 80rem;


}
.music-search-container h1 {
    display: flex;
    align-self: center;
}
.music-search-box {
    display: flex;
    align-items: center;

    background:  rgb(159, 159, 159);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.music-search-box input[type="search"]{
    background: transparent;
    width: 20vw;
    color: black;

}