*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Tahoma, sans-serif, Times, serif, sans-serif;
    background-color: #00000022;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Styling for Navbar */
nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0.2rem 0;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    
}

.nav-bar-container {
    width: 80%;
    margin: 0 auto;
  }

.nav-bar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #ffffff;
    
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search-box {
    display: flex;
    align-items: center;
    background:  rgb(159, 159, 159);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}

.search-box input[type="search"]{
    background: transparent;
    width: 30vw;
    color: black;

}
.new-post-button{
    display: flex;
    align-items: center;
    background: rgb(159, 159, 159);
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 12rem;

}

.button {
    margin-left: 0.6rem;
    font-size: .9rem;
   
}


#settings-button, .uil-setting {
    font-size: 2rem;
    background: white;
    cursor: pointer;
}


.logo {
    font-size: 2rem;
    font-weight: 700;
}

.uil-plus-circle{
    font-size: 2rem;
    padding-left: 1rem;
}

/* End Styling for Nav Bar */

.main-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;
    height: 100%;

}

.left-side-bar {
    align-self: flex-start;
    position: sticky;
    flex-basis: 25%;
    top: 70px;
    padding: 1.25rem;
    background-color: white;
    height: 40rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;


}


.left-side-bar h4 {
    font-weight: bold;
    color: grey;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.left-side-bar a {
    display: block;
    margin-top: 2rem;
    color:midnightblue
}

.left-side-bar a:hover {
    color:rgb(2, 6, 255);
}