*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Tahoma, sans-serif, Times, serif, sans-serif;
    background-color: #00000022;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Styling for Navbar */
nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0.2rem 0;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    
}

.nav-bar-container {
    width: 80%;
    margin: 0 auto;
  }

.nav-bar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #ffffff;
    
}

.search-box {
    display: flex;
    align-items: center;
    background:  rgb(159, 159, 159);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}

.search-box input[type="search"]{
    background: transparent;
    width: 30vw;
    color: black;

}


.button {
    margin-left: 0.6rem;
    font-size: .9rem;
   
}


#settings-button, .uil-setting {
    font-size: 2rem;
    background: white;
    cursor: pointer;
}


.logo {
    font-size: 2rem;
    font-weight: 700;
}

.uil-plus-circle{
    font-size: 2rem;
    padding-left: 1rem;
}

/* End Styling for Nav Bar */


.main-container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

}


/* Left Side Bar Styling */

.left-side-bar {
    display: flex;
    flex-direction: column; 
    position: fixed;
    top: 70px;
    left: 2px;
    padding: 1.25rem;
    padding-right: 4rem;
    background-color: white;
    height: 100%;
    overflow: hidden;


}

.left-side-bar h4 {
    font-weight: bold;
    color: grey;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

#discover {
    margin-top: .5rem;
}

.left-side-bar a {
    display: block;
    margin-top: 1rem;
    color:midnightblue
}

.left-side-bar a:hover {
    color:rgb(2, 6, 255);
}

.uil-star, .uil-headphones, .uil-video, .uil-users-alt, .uil-airplay,
.uil-link, .uil-boombox, .uil-folder-upload, .uil-lightbulb-alt
 {
    font-size: 2rem;
    color: black;
    margin-left: .5rem;
    margin-right: 1rem;
}

/* End Left Side Bar Styling */

/* Start Middle Styling */

.middle {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin-left: 25%;
    flex-basis: 55%;
    padding-top: 2rem;
    height: 100%;
    overflow: hidden;


}

.post-info p {
    font-size: 1rem;
}

.post-container{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0.8rem;
    padding: 3rem;

}

.post-profile-picture img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
}


.post-photo img{
    width: 70%;
    aspect-ratio: 1/1;
    margin-top: 0.8rem;
}

.post-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(216, 216, 216);
    border-bottom: 2px solid rgb(216, 216, 216);
    padding-bottom: 1rem;

}

.post-icons span i{
    margin-right: .2rem;
    color: black;
    cursor: pointer;
    font-size: 1.8rem;
}

.post-caption {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}
.post-liked-by {
    margin-top: .5rem;
}
.post-more-comments{
    color: gray;
}

/* End Middle Styling */

/* Begin Right Side Styling */

.right-side-bar {
    position: fixed;
    top: 70px;
    left: 82%;
    padding: 1.25rem;
    padding-right: 4rem;
    background-color: white;
    height: 100%;
    overflow: hidden;

}

.news-item {
    display: flex;
    align-items: right;
    width: 60px;
    height: 60px;
}

.music-news{
    width: 20rem;

}

.news-item-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
    width: 100%;
    gap: 2rem;


}

.news-item-container img{
    width: 8rem;
    height: 5rem;
}

.create-post-container {
    display: flex;
    align-items: center;
    background:  rgb(159, 159, 159);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 12rem;
    margin-bottom: 2rem;
    }

.create-post{
    width: 6rem;
    border-radius: 2rem;
}

.profile-picture img{
    width: 3rem;
    margin-right: .7rem;
}


.create-post input[type="text"]{
    background: transparent;
    width: 30vw;
    color: black;
    font-size: 1.2rem;


}

/* End Right Side Styling */