.featured-main-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.card {
    height: 20rem;
}

.news-container {
    position: relative;
    top: 6rem;
    left: 23rem;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    overflow-y: auto;
    align-items: start;

}

.card-text {
    margin-bottom: 0;
}

.card-title {
    font-size: 110%;
}


@media (max-width: 514px) {

    .news-container {
        position: relative;
        top: 6rem;
        left: 8rem;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        overflow-y: auto;
        align-items: start;
    
    }

}