*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif, Times, serif, sans-serif;
    background-color: #00000022;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 20rem;
    height: 30rem;
    border-radius: 3rem;






}

.container h1 {
    text-align: center;
    margin-bottom: rem;

}

.container p {
    text-align: center;
    margin-bottom: 2rem;

}

.username,
.password,
.label {
    margin: 10px, 0;

}

.username,
.password {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5rem;
}

.submit {

    align-self: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 3rem;
    border-radius: 5rem;

}

.submit button {
    margin-left: 40%;
}


.username label,
.password label {
    display: none;
}